<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0"/>
    </startup>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel"
                    switchValue="Information, ActivityTracing"
                    propagateActivity="true">
                <listeners>
                    <add name="traceListener"
                        type="System.Diagnostics.XmlWriterTraceListener"
                        initializeData= "c:\log\Traces.svclog" />
                </listeners>
            </source>
        </sources>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0" maxBufferPoolSize="11524288" maxBufferSize="1165536"
                  maxReceivedMessageSize="1165536" openTimeout="00.00:31:23.6470000" >
                    <security mode="None"></security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="CombatViewService.CombatStateService">
                <endpoint address="net.tcp://localhost:8001/CombatStateService"
                  binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="CombatViewService.ICombatStateService">
                    

                </endpoint>
                <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To receive exception details in faults for debugging purposes, 
                          set the value below to true.  Set to false before deployment 
                          to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="True" />
                    <serviceDiscovery/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>