<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kyleolson.combatmanager" android:versionName="1.04" android:versionCode="14">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
	<supports-screens android:smallScreens="false" android:normalScreens="false" android:largeScreens="true" android:xlargeScreens="true" />
	<application android:label="Combat Manager" android:icon="@drawable/Icon">
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>