<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CombatMan</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>spotlighticon.png</string>
		<string>settingsicon.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>ABMPP786M3.kyleolson.combatmanager</string>
	<key>CFBundleVersion</key>
	<string>0.0.8</string>
	<key>MinimumOSVersion</key>
	<string>4.3</string>
	<key>NSMainNibFile~ipad</key>
	<string>CMViewController_iPad</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
